<center>
<div class="form-style-8">
  <h2>Login to Your Account</h2>
  <form action="/doctors/sessions" method="post">
    <input type="email" name="doctor[email]" placeholder="Email"/>
    <input type="password" name="doctor[password]" placeholder="Password"/>
    <input type="submit" value="Login"/>
  </form>
</div>
</center>
