<center><h2>Get Started</h2></center>
<center><a class="button-link" href="/patients/sessions/new">Login</a></center><br><br>
<center><a class="button-link" href="/patients/new">Register</a></center>
