<div class="form-style-8">
  <h2>Register an Account</h2>
  <form action="/patients" method="post">
    <input type="text" name="patient[first_name]" placeholder="First Name"/>
    <input type="text" name="patient[last_name]" placeholder="Last Name"/>
    <input type="text" name="patient[date_of_birth]" placeholder="DOB"/>
    <input type="text" name="patient[gender_identity]" placeholder="Gender Identity"/>
    <input type="text" name="patient[phone_number]" placeholder="Phone Number"/>
    <input type="email" name="patient[email]" placeholder="Email"/>
    <input type="password" name="patient[password]" placeholder="Password"/>
    <input type="submit" value="Register"/>
  </form>
</div>
