<center>
<div class="form-style-8">
  <h2>Register an Account</h2>
  <form action="/doctors" method="post">
    <input type="text" name="doctor[first_name]" placeholder="First Name"/>
    <input type="text" name="doctor[last_name]" placeholder="Last Name"/>
    <input type="text" name="doctor[years_practicing]" placeholder="Years Practicing"/>
    <input type="email" name="doctor[email]" placeholder="Email"/>
    <input type="password" name="doctor[password]" placeholder="Password"/>
    <input type="submit" value="Register"/>
  </form>
</div>
</center>
