<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <% if current_user%>
    <nav id="nav-bar">
      <ul id=bar-if-in>
        <li><a href="/">Home</a></li>
        <li><a href="/users/<%=current_user.id%>"><%=current_user.user_name%></a></li>
        <li>
          <form id="the-form" action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete">
            <input id="logout-form" type="submit" value="Logout">
          </form>
        </li>
        <li><a href="/users/<%=current_user.id%>/restaurants/new">Add a Restaurant</a></li>
      </ul>
    </nav>
  <%else %>
    <nav>
      <ul id=bar-if-out>
        <li><a href="/">Home</a></li>
        <li><a href="/sessions/new">Users</a></li>
        <li><a href="/users/new">Doctors</a></li>
      </ul>
    </nav>
  <%end%>
  <h1 id=page-title> CareCoordinator </h1>
  <%= yield %>
</body>
</html>
