<center>
<div class="form-style-8">
  <h2>Login to Your Account</h2>
  <form action="/patients/sessions" method="post">
    <input type="email" name="patient[email]" placeholder="Email"/>
    <input type="password" name="patient[password]" placeholder="Password"/>
    <input type="submit" value="Login"/>
  </form>
</div>
</center>
